<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <title>Список читателей</title>
</head>
<body>
<h1>Список читателей</h1>
<table>
  <tr>
    <th>ID</th>
    <th>Имя</th>
    <th>Email</th>
  </tr>
  <tr th:each="reader : ${readers}">
    <td th:text="${reader.id}"></td>
    <td>
      <span th:text="${reader.name}" th:id="'name-' + ${reader.id}" class="editable-field"></span>
      <input type="text" name="name" th:value="${reader.name}" th:id="'input-name-' + ${reader.id}" required style="display: none;">
    </td>
    <td>
      <span th:text="${reader.email}" th:id="'email-' + ${reader.id}" class="editable-field"></span>
      <input type="email" name="email" th:value="${reader.email}" th:id="'input-email-' + ${reader.id}" required style="display: none;">
    </td>

    <td>
      <!-- Форма для архивирования читателя -->
      <form th:action="@{'/readers/archive/' + ${reader.id}}" method="post">
        <input type="submit" value="Архивировать">
      </form>
    </td>
    <td>
      <!-- Форма для редактирования читателя -->
      <form th:action="@{'/readers/' + ${reader.id}}" method="get">
        <input type="submit" value="Редактировать">
      </form>
    </td>
  </tr>
</table>


</body>
</html>