<title>Library</title>
<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h1>Library</h1><hr>
<h4>Регистрация</h4>

<form method="post" th:action="@{/registration}">
  Имя пользователя: <input type="text" name="name"><br><br>
  Эл. почта: <input type="email" name="email"><br><br>
  Пароль: <input type="password" name="password"><br><br>
  <input type="hidden" name="_csrf" value="${_csrf.token}">
  <input type="submit" value="Зарегистрироваться"/>
  <input type="hidden" name="_csrf" th:value="${_csrf.token}">
</form>
</body>
</html>